.project {
    background-color: rgb(245, 235, 244);
    padding: 20px;
    padding-bottom: 80px;
  }
  
  .project-h2 {
    color: #360348;
    text-align: center;
    font-size: 35px;
    margin: 40px 0px;
  }
  
  .project-span {
    font-size: 20px;
    animation: blinking 3s infinite;
  }
  
  .project-p1 {
    color: #360348;
    font-size: 25px;
  }
  
  .project-card {
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
    padding: 5px;
    border-radius: 10px;
    text-align: left;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to left, #ba31ec 50%, rgb(245, 235, 244) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    height: 500px;
  }
  
  .project-card:hover {
    background-position: left bottom;
  }
  
  .project-card-img11 {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .project-card-details {
    margin-top: 10px;
  }
  
  .project-card-title{
    height: 225px;
  }
  .project-card-h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4px;
  }
  
  .project-card-p2 {
    color: #2d272e;
    font-size: 16px;
    margin: 0px 5px;
  }
  
  .genome-p {
    /* height: 168px; */
  }
  
  .project-card-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
  }
  
  .project-card-skill {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #360348;
  }
  
  .project-card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    gap: 7px;
    margin: auto;
    margin-bottom: 0;
    border: 1px solid rgb(243, 165, 243);
    border-radius: 20px;
    transition: all 0.2s ease-in;
  }
  
  .project-card-btn:hover {
    border: 1px solid #f30ad8;
    transform: scale(0.95);
    cursor: pointer;
  }
  
  .project-card-img12 {
    width: 20px;
    height: 20px;
  }
  
  .project-card-a {
    margin-bottom: 4px;
    color: #e2b7f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    &:hover{
      color: #f30ad8;
      
    }
  }

@media (max-width:412px){  
  .project-h2 {
    font-size: 30px;
  } 
  .project-span {
    font-size: 20px;
  }
  .project-p1 {
    font-size: 20px;
  }
  
  .project-card {
    padding: 0;
    height: 600px;
  }
  
  .project-card-img11 {
    height: 250px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .project-card-details {
    margin-top: 10px;
    padding: 5px 10px;
  }
  
  .project-card-title{
    height: 255px;
  }
  .project-card-h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4px;
  }
  
  .project-card-p2 {
    color: #2d272e;
    font-size: 16px;
    margin: 0px 5px;
  }
  
  .genome-p {
    /* height: 168px; */
  }
  
  .project-card-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
  }
  
  .project-card-skill {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #360348;
  }
  
  .project-card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    gap: 7px;
    margin: auto;
    margin-bottom: 0;
    border: 1px solid rgb(243, 165, 243);
    border-radius: 20px;
    transition: all 0.2s ease-in;
  }
  
  .project-card-btn:hover {
    border: 1px solid #f30ad8;
    transform: scale(0.95);
    cursor: pointer;
  }
  
  .project-card-img12 {
    width: 20px;
    height: 20px;
  }
  
  .project-card-a {
    margin-bottom: 4px;
    color: #e2b7f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    &:hover{
      color: #f30ad8;
      
    }
  }
}