.services {
    background-color: rgb(245, 235, 244);
    padding: 50px;
    text-align: center;
  }
  
  .services-h2 {
    color: #360348;
    font-size: 35px;
    margin-bottom: 20px;
  }
  
  .services-p1 {
    color: #360348;
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .service-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 300px;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
  }
  
  .service-card-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .service-card-details {
    padding: 20px;
  }
  
  .service-card-title {
    font-size: 24px;
    color: #360348;
    margin-bottom: 10px;
  }
  
  .service-card-description {
    font-size: 16px;
    color: #2d272e;
  }
  